// keybinds.kdl

binds {
    // === Basic ===
    Mod+Q { spawn "kitty"; }
    Mod+C { close-window; }
    Mod+M { quit; }
    Mod+E { spawn "thunar"; }
    Mod+V { toggle-window-floating; }
    Mod+R { spawn "rofi" "-show" "drun"; }

    // === Volume / brightness ===
    XF86AudioRaiseVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "-l" "1" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute         allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "-e4" "-n2" "set" "5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-e4" "-n2" "set" "5%-"; }

    // === Playerctl ===
    XF86AudioNext  allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPause allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPlay  allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPrev  allow-when-locked=true { spawn "playerctl" "previous"; }

    // === Wallpaper ===
    Mod+P { spawn "/home/adi/.config/hypr/scripts/wallpaper-switcher.sh"; }

    // === Launch apps ===
  
  
    Alt+Space { spawn-sh "pkill -x wofi; wofi --show drun"; }
    Alt+B { spawn "helium-browser"; }
  
   // === Focus ===
    Mod+A  { focus-column-left; }
    Mod+D { focus-column-right; }
    Mod+W    { focus-window-up; }
    Mod+S  { focus-window-down; }

    // === Notifications (swaync) ===
    Super+N { spawn-sh "pkill -x swaync 2>/dev/null; swaync"; }
    Super+Z { spawn "swaync-client" "-t"; }

    // === Session ===
    Alt+W { spawn "wlogout"; }

    // === Screenshots ===
    Mod+Print { screenshot; }
    Mod+Shift+Print { screenshot-screen; }
   
Mod+O { toggle-overview; }
Mod+WheelScrollUp   { toggle-overview; }
Mod+WheelScrollDown { toggle-overview; }

//screen recorder
Mod+F9 { spawn "notify-send" "hello"; }
}
